html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

body {
    background: #3F3F3F;
    color: #5F5F5F;
    margin: 1rem;
    padding: 0;
    text-align: center;
}

body > * {
    text-align: left;
}

header {
    position: relative;
    overflow: hidden;
    border-radius: .75rem;
    margin: 0 0 1rem;
    background: #5F5F5F;
    padding: .25rem;
    box-shadow: #5F5F5F 0 0 .5rem .25rem;
    letter-spacing: .1rem;
}

header h1 {
    color: #D7D7D7;
    margin: 0;
    display: inline-block;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2rem;
    padding: .25rem;
    font-family: serif;
    text-shadow: #000000 0 0 .75rem;
}

nav {
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    float: right;
    text-align: right;
}

nav a {
    color: #EFEFEF;
    padding: .25rem;
    font-weight: normal;
    text-decoration: none;
    font-size: 1.25rem;
    line-height: 1.5rem;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    border-radius: .5rem;
    border: .25rem outset #7F7F7F;
}

nav a:hover {
    color: #FFFFFF;
}

nav a:active {
    color: #FFFFFF;
    border-style: inset;
}

nav a:focus {
    color: #FFFFFF;
    border-style: inset;
}

nav a.selected {
    color: #BFBFBF;
    border-style: inset;
    cursor: default;
}

main {
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    margin: 0;
    border-radius: .25rem;
    display: inline-block;
    min-width: 75%;
    max-width: 100%;
}

main > h2:first-child {
    margin-top: 0;
}

main > article {
    color: #171717;
    text-align: center;
}

main > article > code {
    display: inline-block;
    text-align: left;
}

code {
    white-space: pre-wrap;
}
