html {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

body {
    background: #3F3F3F;
    color: #5F5F5F;
    margin: 1rem;
    padding: 0;
    text-align: center;
}

body > * {
    text-align: left;
}

header h1 {
    color: #D7D7D7;
    margin: 0;
    display: inline-block;
    font-size: 2rem;
    line-height: 2.3rem;
    vertical-align: middle;
}

header {
    position: relative;
    overflow: hidden;
    border-radius: .7rem;
    margin: 0 0 1rem;
    background: #5F5F5F;
    padding: .25rem;
}

nav {
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    float: right;
}

nav a {
    color: #EFEFEF;
    padding: .2rem;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.3rem;
    line-height: 1.5rem;
    vertical-align: middle;
    display: inline-block;
    margin: 0;
    border-radius: .5rem;
    background: inherit;
    border: .2rem outset #7F7F7F;
}

nav a.selected {
    color: #BFBFBF;
    border-style: inset;
    cursor: default;
}

body > article {
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
    padding: 1rem;
    margin: 0;
    border-radius: .25rem;
    display: inline-block;
    min-width: 80%;
    max-width: 100%;
    text-align: center;
}

body > article > * {
    text-align: left;
}

body > article > h2:first-child {
    margin-top: 0;
}

body > article > code {
    display: inline-block;
}

code {
    white-space: pre-wrap;
}
